<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">

        <% for(var i = 0; i < newListItem.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItem[i] %>
                </p>
            </div>
            <% }; %>

                <div class="form item">
                    <form action="/" method="post" autocomplete="off">
                        <input type="text" name="newItem" id="text" placeholder="new element">
                        <button type="submit" name="list" value="<%= listTitle %>">+</button>
                        <button formaction="/reset" name="reset" value="<%= listTitle %>">reset</button>
                    </form>
                </div>
                <%- include("footer") -%>